<?xml version="1.0" encoding="utf-8"?>
<settings>
  <mirrors>
     <mirror>
	<id>jaspersoft-third-party</id>
	<url>http://localhost:8081/nexus/content/repositories/jaspersoft-third-party/</url>
	<mirrorOf>jaspersoft-third-party</mirrorOf>
    </mirror>
     <mirror>
        <id>jasperreports</id>
        <url>http://localhost:8081/nexus/content/repositories/jasperreports</url>
        <mirrorOf>jasperreports</mirrorOf>
    </mirror>
    <mirror>
        <id>eclipselink.repository</id>
        <name>EclipseLink Maven Repository</name>
        <url>http://localhost:8081/nexus/content/repositories/eclipselink.repository</url>
        <mirrorOf>eclipselink.repository</mirrorOf>
    </mirror>
    <mirror>
      <id>central</id>
      <name>Central</name>
      <url>http://localhost:8081/nexus/content/repositories/central/</url>
      <mirrorOf>central,maven-repo</mirrorOf>
    </mirror>
    <mirror>
      <id>maven2-repository.dev.java.net</id>
      <name>Java.net Repository for Maven</name>
      <url>http://localhost:8081/nexus/content/repositories/maven2-repository.dev.java.net/</url>
      <mirrorOf>maven2-repository.dev.java.net</mirrorOf>
    </mirror>
    <mirror>
      <id>apache-snapshots</id>
      <name>Apache Snapshots</name>
      <url>http://localhost:8081/nexus/content/repositories/apache-snapshots/</url>
      <mirrorOf>apache-snapshots</mirrorOf>
    </mirror>
    <mirror>
      <id>servicemix</id>
      <name>Apache ServiceMix mirror</name>
      <url>http://localhost:8081/nexus/content/repositories/servicemix/</url>
      <mirrorOf>servicemix</mirrorOf>
    </mirror>
    <mirror>
      <id>opennms-repo</id>
      <name>OpenNMS Maven mirror</name>
      <url>http://localhost:8081/nexus/content/repositories/opennms-repo-local/</url>
      <mirrorOf>opennms-repo</mirrorOf>
    </mirror>
    <mirror>
      <id>opennms-3rdparty-repo</id>
      <name>OpenNMS 3rd Party</name>
      <url>http://localhost:8081/nexus/content/repositories/thirdparty</url>
      <mirrorOf>opennms-3rdparty-repo</mirrorOf>
    </mirror>
<!--
    <mirror>
      <id>opennms-snapshots</id>
      <name>OpenNMS Maven Snapshot mirror</name>
      <url>http://localhost:8081/nexus/content/repositories/opennms-snapshots/</url>
      <mirrorOf>opennms-snapshots</mirrorOf>
    </mirror>
-->
    <mirror>
      <id>repository.jboss.org</id>
      <name>Jboss Public Repository Group</name>
      <url>http://localhost:8081/nexus/content/repositories/jboss-public-repository-group/</url>
      <mirrorOf>repository.jboss.org,jboss-repo,jboss-public-repository-group</mirrorOf>
    </mirror>
    <mirror>
      <id>maven2-mirror.eviware.com</id>
      <name>EVIWare.com mirror for Maven</name>
      <url>http://localhost:8081/nexus/content/repositories/maven2-repository.eviware.com/</url>
      <mirrorOf>maven2-mirror.eviware.com</mirrorOf>
    </mirror>
    <mirror>
      <id>coova</id>
      <name>Coova mirror</name>
      <url>http://localhost:8081/nexus/content/repositories/coova/</url>
      <mirrorOf>coova</mirrorOf>
    </mirror>
  <mirror>
      <id>sonatype.org-snapshot</id>
      <name>Sonatype Snapshots Maven mirror</name>
      <url>http://localhost:8081/nexus/content/repositories/sonatype-nexus-snapshots/</url>
      <mirrorOf>sonatype.org-snapshot</mirrorOf>
    </mirror>
    <mirror>
      <id>sonatype-public-repo</id>
      <name>Sonatype Public Maven mirror</name>
      <url>http://localhost:8081/nexus/content/repositories/sonatype-public-repo/</url>
      <mirrorOf>sonatype-public-repo,sonatype-public-release</mirrorOf>
    </mirror>
    <mirror>
      <id>smslib-repo</id>
      <name>SMSLib Maven mirror</name>
      <url>http://localhost:8081/nexus/content/repositories/smslib-repo/</url>
      <mirrorOf>smslib-repo</mirrorOf>
    </mirror>
    <mirror>
      <id>oracleReleases</id>
      <name>Oracle Released Java Packages</name>
      <url>http://localhost:8081/nexus/content/repositories/oracleReleases/</url>
      <mirrorOf>oracleReleases</mirrorOf>
    </mirror>
    <mirror>
      <id>vaadin-snapshots</id>
      <name>vaadin-snapshots</name>
      <url>http://localhost:8081/nexus/content/repositories/vaadin-snapshots/</url>
      <mirrorOf>vaadin-snapshots</mirrorOf>
    </mirror>
    <mirror>
      <id>vaadin-addons</id>
      <name>vaadin-addons</name>
      <url>http://localhost:8081/nexus/content/repositories/vaadin-addons/</url>
      <mirrorOf>vaadin-addons</mirrorOf>
    </mirror>
    <mirror>
      <id>ops4j.releases</id>
      <name>ops4j.releases</name>
      <url>http://localhost:8081/nexus/content/repositories/ops4j.releases/</url>
      <mirrorOf>ops4j.releases</mirrorOf>
    </mirror>
    <mirror>
      <id>com.springsource.mirror.bundles</id>
      <name>SpringSource Enterprise Bundle mirror</name>
      <url>http://localhost:8081/nexus/content/repositories/com.springsource.repository.bundles/</url>
      <mirrorOf>com.springsource.mirror.bundles</mirrorOf>
    </mirror>
    <mirror>
      <id>springsource.com-release</id>
      <name>SpringSource Release</name>
      <url>http://localhost:8081/nexus/content/groups/springsource.com-release/</url>
      <mirrorOf>springsource.com-release,com.springsource.repository.bundles.release,com.springsource.repository.bundles.external</mirrorOf>
    </mirror>
    <mirror>
      <id>atlassian-public</id>
      <name>Atlassian public repo</name>
      <url>http://localhost:8081/nexus/content/repositories/atlassian-public/</url>
      <mirrorOf>atlassian-public</mirrorOf>
    </mirror>
    <mirror>
      <id>sourceforge</id>
      <name>Sourceforge OSSbeans Release mirror</name>
      <url>http://localhost:8081/nexus/content/repositories/sourceforge/</url>
      <mirrorOf>sourceforge</mirrorOf>
    </mirror>
    <mirror>
      <id>helios</id>
      <name>helios-p2</name>
      <url>http://localhost:8081/nexus/content/repositories/helios/</url>
      <mirrorOf>helios</mirrorOf>
    </mirror>
    <mirror>
      <id>m2e</id>
      <name>m2e-p2</name>
      <url>http://localhost:8081/nexus/content/repositories/m2e/</url>
      <mirrorOf>m2e</mirrorOf>
    </mirror>
    <mirror>
      <id>codehaus-snapshots</id>
      <name>Codehaus Snapshots</name>
      <url>http://localhost:8081/nexus/content/repositories/codehaus-snapshots/</url>
      <mirrorOf>codehaus-snapshots</mirrorOf>
    </mirror>
    <mirror>
      <id>onejar</id>
      <name>OneJar Maven Repository</name>
      <url>http://localhost:8081/nexus/content/groups/onejar.googlecode.com-release/</url>
      <mirrorOf>onejar-maven-plugin.googlecode.com</mirrorOf>
    </mirror>
    <mirror>
      <id>openoss-repo</id>
      <name>OpenOSS Maven Repository</name>
      <url>http://localhost:8081/nexus/content/repositories/openoss-repo/</url>
      <mirrorOf>openoss-repo</mirrorOf>
    </mirror>
    <mirror>
      <id>maven-restlet</id>
      <name>Restlet public online repository</name>
      <url>http://localhost:8081/nexus/content/repositories/maven-restlet/</url>
      <mirrorOf>maven-restlet</mirrorOf>
    </mirror>
  </mirrors>
</settings>
