<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <mirrors>
    <mirror>
      <id>nexus-all</id>
      <url>http://192.168.2.133:8081/nexus/content/groups/public/</url>
      <mirrorOf>*,!jboss-repo,!jboss-public-repository-group,!atlassian-public</mirrorOf>
    </mirror>
    <mirror>
      <id>nexus-jboss</id>
      <url>http://192.168.2.133:8081/nexus/content/groups/public-jboss/</url>
      <mirrorOf>jboss-repo,jboss-public-repository-group</mirrorOf>
    </mirror>
    <mirror>
      <id>nexus-atlassian</id>
      <url>http://192.168.2.133:8081/nexus/content/groups/public-atlassian/</url>
      <mirrorOf>atlassian-public</mirrorOf>
    </mirror>
  </mirrors>
</settings>
